.AddTask {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    width: 330px;
  }

  .task-container{
    padding-top: 25px;
  }

  .points-header{
    padding-top: 25px;
  }
  .delete-btn{
    cursor: pointer;
  }
}
