@import "./Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: $primary-background !important;
    color: $white !important;
    font-family: "Poppins", sans-serif !important;
    h1{
      color: $primary-pink;
      text-align: center !important;
    }
    input{
        background-color: $secondary-background !important;
        border-color: $secondary-background;
        border-radius: 5px;
        color: $white !important;
    }

    .score-container{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .form-input:focus {
        border-color: $white;
        box-shadow: none;
        outline: 0 none;
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
      }



      button{
        width: 150px;
        height: 50px;
        border: 1px solid $white;
        border-radius: 5px;
        background-color: $secondary-background;
        color: $white;
      }

      button:hover {
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
      }

      label::after {
        background-color: $secondary-background !important;
        color: $white !important;
      }
 
      .form-label > label {
        color: $white !important;
      }

    .form-label:focus{
        color: $primary-pink !important;
      }
    
    
}

.Home{}

.page{
    padding-top: 100px;
}